/*Estilos Globales*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--black-color);
  font-family: "Inter", sans-serif;
  color: var(--white-color);
}

:root {
  --primary-color: #fbabe4;
  --secondary-color: #1e293b;
  --white-color: white;
  --black-color: #070707;
  --gray-color: gainsboro;
  --spacing: 16px;
  --border-radius: 16px;
}

main,
header,
footer {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  color: var(--white-color);
}

a {
  text-decoration: none;
}

/*Estilos Navegacion*/

ul {
  list-style-type: none;
}

nav {
  background-color: var(--white-color);
  padding: 16px 24px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px auto 0 auto;
  width: fit-content;
  & ul {
    display: flex;
    gap: 24px;
    list-style: none;
    & li a {
      font-size: 16px;
      padding: 8px;
      border-radius: 8px;
      transition: all 0.5s ease;
      color: var(--black-color);
    }
    & li a:hover {
      background-color: var(--primary-color);
    }
  }
}

/*Estilos Hero*/

#hero {
  padding: 100px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  & h1 {
    font-size: 100px;
  }
  & .small-text {
    color: var(--gray-color);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
}

.button-container {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  & button {
    padding: 1em 2em;
    border-radius: 8px;
  }
  & .button-primary {
    background-color: var(--white-color);
    color: var(--black-color);
    border: none;
  }
  & .button-primary:hover {
    background-color: var(--primary-color);
    transition: all 0.5s ease;
  }
  & .button-secondary {
    background: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
  }
  & .button-secondary:hover {
    background-color: var(--primary-color);
    color: var(--black-color);
    border: 1px solid var(--primary-color);
    transition: all 0.5s ease;
  }
}

/*Estilos Cards*/

#cards {
  padding: 50px 24px;
  display: flex;
  gap: 24px;
  & .card {
    background: var(--white-color);
    color: var(--black-color);
    display: flex;
    padding: 24px;
    gap: 16px;
    border-radius: 8px;
    width: 350px;
    & img {
      border-radius: 8px;
    }
  }
  & .card:hover {
    background-color: var(--primary-color);
    transition: all 0.5s ease;
  }
}

.text-container-card {
  display: flex;
  flex-direction: column;
  & p {
    font-size: 12px;
    margin-top: 1em;
  }
}

/*Estilos Footer*/

footer {
  padding: 100px 24px;
  display: flex;
  justify-content: space-between;
  & ul {
    display: flex;
    gap: 16px;
  }
}

#footer-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.active {
  background-color: var(--primary-color);
}

.hero-sobre-mi {
  padding: 100px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
}

p {
  line-height: 1.5;
}

#experiencia {
  padding: 100px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  & h3 {
    color: var(--white-color);
    margin-bottom: 8px;
  }
  & p {
    color: var(--gray-color);
  }
  article {
    text-align: left;
    & ul {
      list-style-type: disc;
      margin-top: 1em;
    }
  }
}

.project-card {
  width: 980px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.hero-contactos,
.hero-servicios {
  padding: 100px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 1em;
  & input {
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--white-color);
    padding: 8px;
    border-radius: 8px;
    color: var(--white-color);
  }
  & textarea {
    background-color: transparent;
    border: 1px solid var(--white-color);
    padding: 16px;
    border-radius: 8px;
    color: var(--white-color);
  }
}

#form {
  max-width: 980px;
  margin: 0 auto;
  & button {
    padding: 1em 2em;
    border-radius: 8px;
    background-color: var(--white-color);
    color: var(--black-color);
    border: none;
  }
  & button:hover {
    background-color: var(--primary-color);
    transition: all 0.5s ease;
  }
}

input::placeholder {
  color: var(--gray-color);
}
